<a href="https://colab.research.google.com/github/ramahasiba/Zakey/blob/main/Rama_Hasiba_Section_2_Part_3_Advanced_Pandas_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üêº Section 2 - Part 3: Advanced Pandas Project
This project challenges you to clean and enhance the Titanic dataset from Kaggle using Pandas in Google Colab, preparing real-world data for data science and AI tasks. You‚Äôll tackle missing values, duplicates, inconsistent formats, and create a new feature while handling outliers, producing a robust dataset. This hands-on project in the AI RAG Agent MCP Training Plan builds skills for data preparation in visualization or AI modeling.

**Learning Objectives**:
- Handle missing data with imputation or deletion techniques.
- Remove duplicates to ensure data integrity.
- Standardize formats for consistency and usability.
- Engineer features and manage outliers with creative decision-making.
- Document cleaning steps for reproducibility.

**Why This Matters**:
Messy datasets like Titanic are common, with issues that can skew analyses or AI models. Cleaning and enhancing such datasets ensures reliable insights, a critical skill for workflows like predictive modeling or reporting.

## üì∫ Watch: Pandas Dataset Cleaning Project
This video, *Data Cleaning in Pandas | Python Pandas Tutorials*, guides you through cleaning datasets in Colab, covering null value handling, data inspection, and format standardization, with practical examples for beginners.

In [ ]:
#@title Cleaning Datasets with Pandas
from IPython.display import IFrame, Image
try:
    display(IFrame("https://www.youtube.com/embed/I3FBJdiExcg", width=560, height=315))
except:
    display(Image(url="https://img.youtube.com/vi/I3FBJdiExcg/0.jpg"))

**Video Tips**:
- Pause to replicate steps like checking for null values with `isna()`.
- Focus on data inspection techniques, such as viewing summary statistics.
- Note the video‚Äôs examples for handling missing data to apply to the Titanic dataset.

### Cleaning Datasets with Pandas
```python

```



## üõ†Ô∏è Activity: Titanic Dataset Cleaning Project
In this project, you‚Äôll clean and enhance the Titanic dataset, containing passenger data from the 1912 voyage, using Pandas in Colab. The dataset includes columns like `PassengerId`, `Survived`, `Pclass`, `Name`, `Sex`, `Age`, `SibSp`, `Parch`, `Ticket`, `Fare`, `Cabin`, and `Embarked`, with challenges like missing values, duplicates, and outliers. Complete four tasks to produce a cleaned dataset.

**Getting Started**:
- Open a new Colab notebook.
- Import Pandas: `import pandas as pd`.
- Load the dataset: `https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv`.
- Use `display()` to view DataFrames.
- Save to Google Drive to preserve progress.

**Context**:
The Titanic dataset is a data science staple, with missing `Age` (20% missing) and `Cabin` (77% missing) values, potential duplicates, and varied formats. Enhancing it prepares you for AI tasks like survival prediction.

**Tips for Success**:
- Use `df.info()` to check missing values and data types.
- Preview data with `df.head()` to spot issues.
- Work on a copy (`df.copy()`) to preserve the original.
- Save intermediate results to streamline debugging.
- Explore Pandas documentation (https://pandas.pydata.org/docs/) for methods.

---

### Task 1: Handle Missing Data
Load the Titanic dataset and address missing values in `Age`, `Cabin`, and `Embarked`. Impute missing `Age` with the median, drop `Cabin` due to excessive missing values, and fill `Embarked` with the mode. Display the cleaned DataFrame.

**Why This Task?**:
Missing data can bias analyses or AI models. The median is robust for `Age`, dropping `Cabin` avoids unreliable imputation, and the mode suits `Embarked` for categorical data.

**Example**:
```python
import pandas as pd
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
df['Age'] = df['Age'].fillna(df['Age'].median())
df = df.drop(columns=['Cabin'])
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
display(df)
```

**Expected Output**:
A DataFrame with no missing values in `Age` or `Embarked`, no `Cabin` column, and at least 891 rows.

In [ ]:
# Task 1: Handle Missing Data
# - Load the Titanic dataset from the URL
import pandas as pd
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
# - Impute missing 'Age' with median
df['Age']=df['Age'].fillna(df['Age'].median())
# - Drop 'Cabin' column
df.drop(columns=['Cabin'],inplace=True)
# - Fill missing 'Embarked' with mode
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])
# - Display the cleaned DataFrame
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

### Task 2: Remove Duplicates
Using the DataFrame from Task 1, check for and remove duplicate rows, keeping the first occurrence. Display the DataFrame.

**Why This Task?**:
Duplicates can skew statistics or AI models. Removing them ensures each passenger is unique, maintaining data integrity.

**Example**:
```python
df = df.drop_duplicates(keep='first')
display(df)
```

**Expected Output**:
A DataFrame with no duplicate rows (typically 891 rows if no duplicates).

In [ ]:
# Task 2: Remove Duplicates
# - Use the DataFrame from Task 1
# - Remove duplicate rows, keeping the first
df = df.drop_duplicates(keep='first')
# - Display the DataFrame
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

### Task 3: Standardize Formats
Using the DataFrame from Task 2, standardize `Sex` to lowercase 'male'/'female' and format `Fare` to two decimal places. Display the DataFrame.

**Why This Task?**:
Consistent formats enhance usability and prevent errors in analysis or modeling. Standardization improves clarity for reporting.

**Example**:
```python
df['Sex'] = df['Sex'].str.lower()
df['Fare'] = df['Fare'].round(2).astype(float)
display(df)
```

**Expected Output**:
A DataFrame with `Sex` as 'male' or 'female' (lowercase) and `Fare` as floats with two decimal places.

In [ ]:
# Task 3: Standardize Formats
# - Use the DataFrame from Task 2
# - Standardize 'Sex' to lowercase 'male'/'female'
df['Sex']=df['Sex'].str.lower()
# - Format 'Fare' to float with two decimal places
df['Fare']=df['Fare'].round(2).astype(float)
# - Display the DataFrame
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.28,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.10,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,S

### Task 4: Create Feature and Handle Outliers
Using the DataFrame from Task 3, create a `FamilySize` column (`SibSp` + `Parch` + 1) to represent total family members aboard, including the passenger. Then, identify and handle outliers in `Fare` using a method of your choice (e.g., IQR, z-score, or capping). Document your outlier method and justification in a Markdown cell below your code. Display the final DataFrame.

**Why This Task?**:
Feature engineering, like `FamilySize`, adds meaningful variables for analysis or AI modeling. Handling outliers in `Fare` prevents skewed results, and choosing your method encourages creativity and critical thinking.

**Example**:
```python
# Create FamilySize
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

# Handle Fare outliers using IQR
Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df['Fare'] = df['Fare'].clip(lower=lower_bound, upper=upper_bound)
display(df)
```

```markdown
**Outlier Method and Justification**:
I used the IQR method to cap `Fare` outliers at 1.5 times the interquartile range below Q1 and above Q3. This approach is robust for non-normal data like `Fare`, which is right-skewed. Capping preserves data while reducing extreme value impact, suitable for this small dataset.
```

```markdown
**Outlier Method and Justification**:
[Write your method (e.g., IQR, z-score) and why you chose it, including how it affects the dataset.]
```

**Expected Output**:
A DataFrame with a `FamilySize` column (integers) and `Fare` values adjusted for outliers, with a Markdown justification.

**Outlier Method and Justification**:

I used the IQR method to get rid of outliers because the data size is small and it's values are not normalized

In [ ]:
# Task 4: Create Feature and Handle Outliers
# - Use the DataFrame from Task 3
# - Create 'FamilySize' as SibSp + Parch + 1
df['FamilySize']=df['SibSp']+df['Parch']+1
# - Identify and handle 'Fare' outliers using your chosen method
Q1=df['Fare'].quantile(0.25)
Q3=df['Fare'].quantile(0.75)
IQR=Q3-Q1
lower_bound=Q1-1.5*IQR
upper_bound=Q3+1.5*IQR
df['Fare']=df['Fare'].clip(lower=lower_bound,upper=upper_bound)
# - Document your method and justification in a Markdown cell
# - Display the final DataFrame
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,S,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,65.635,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.920,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.100,S,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,S,1

In [ ]:
#@title Peer Evaluation Check
from IPython.display import display, Markdown
import pandas as pd
import numpy as np

if 'scores' not in globals():
    scores = {}

def check_pandas_project():
    score = 0
    feedback = []

    try:
        # Task 1: Check missing data handling
        if 'df' in globals():
            has_passenger_id = 'PassengerId' in df.columns and df['PassengerId'].dtype == int
            has_age = 'Age' in df.columns and df['Age'].dtype == float
            has_embarked = 'Embarked' in df.columns and df['Embarked'].dtype == object
            no_cabin = 'Cabin' not in df.columns
            has_min_rows = len(df) >= 891
            has_no_missing = df['Age'].notna().all() and df['Embarked'].notna().all()
            if all([has_passenger_id, has_age, has_embarked, no_cabin, has_min_rows, has_no_missing]):
                score += 1
                feedback.append("- ‚úÖ Task 1 Passed: Missing 'Age' imputed, 'Cabin' dropped, 'Embarked' filled.")
            else:
                missing = []
                if not has_passenger_id: missing.append("'PassengerId' column (int)")
                if not has_age: missing.append("'Age' column (float)")
                if not has_embarked: missing.append("'Embarked' column (string)")
                if not no_cabin: missing.append("'Cabin' column dropped")
                if not has_min_rows: missing.append("at least 891 rows")
                if not has_no_missing: missing.append("no missing 'Age' or 'Embarked'")
                feedback.append(f"- ‚ùå Task 1 Failed: DataFrame missing {', '.join(missing)}.")
        else:
            feedback.append("- ‚ùå Task 1 Failed: No DataFrame 'df' found.")

        # Task 2: Check duplicates
        if 'df' in globals():
            has_no_duplicates = not df.duplicated().any()
            if has_no_duplicates:
                score += 1
                feedback.append("- ‚úÖ Task 2 Passed: No duplicate rows found.")
            else:
                feedback.append("- ‚ùå Task 2 Failed: Duplicate rows detected.")
        else:
            feedback.append("- ‚ùå Task 2 Failed: No DataFrame 'df' found.")

        # Task 3: Check format standardization
        if 'df' in globals():
            has_sex_standardized = df['Sex'].isin(['male', 'female']).all()
            if has_sex_standardized :
                score += 1
                feedback.append("- ‚úÖ Task 3 Passed: 'Sex' standardized, 'Fare' formatted.")
            else:
                missing = []
                if not has_sex_standardized: missing.append("'Sex' column with only 'male'/'female' (lowercase)")
                feedback.append(f"- ‚ùå Task 3 Failed: DataFrame missing {', '.join(missing)}.")

        # Task 4: Check FamilySize and Fare outliers
        if 'df' in globals():
            has_family_size = 'FamilySize' in df.columns and df['FamilySize'].dtype == int
            family_size_correct = (df['FamilySize'] == df['SibSp'] + df['Parch'] + 1).all()
            fare_outliers_managed = df['Fare'].max() <= 500  # Reasonable threshold for clipped outliers
            if has_family_size and family_size_correct and fare_outliers_managed:
                score += 1
                feedback.append("- ‚úÖ Task 4 Passed: 'FamilySize' created, 'Fare' outliers managed.")
            else:
                missing = []
                if not has_family_size: missing.append("'FamilySize' column (int)")
                if not family_size_correct: missing.append("correct 'FamilySize' (SibSp + Parch + 1)")
                if not fare_outliers_managed: missing.append("managed 'Fare' outliers (max <= 500)")
                feedback.append(f"- ‚ùå Task 4 Failed: DataFrame missing {', '.join(missing)}.")
        else:
            feedback.append("- ‚ùå Task 4 Failed: No DataFrame 'df' found.")

        # Display final DataFrame if all tasks passed
        if score == 4 and 'df' in globals():
            display(df)

    except Exception as e:
        feedback.append(f"- ‚ùå An error occurred: {str(e)}. Ensure your code runs without errors.")
        score = 0

    # Update total score
    scores['pandas_project_part3'] = score

    # Provide final feedback
    final_message = "**Pandas Project Feedback:**\n\n" + "\n".join(feedback)
    final_message += f"\n\n**Total Score: {score}/4**"
    display(Markdown(final_message))

check_pandas_project()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,S,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,65.635,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.920,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.100,S,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,S,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000,S,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.450,S,4
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,Q,1

**Pandas Project Feedback:**

- ‚úÖ Task 1 Passed: Missing 'Age' imputed, 'Cabin' dropped, 'Embarked' filled.
- ‚úÖ Task 2 Passed: No duplicate rows found.
- ‚úÖ Task 3 Passed: 'Sex' standardized, 'Fare' formatted.
- ‚úÖ Task 4 Passed: 'FamilySize' created, 'Fare' outliers managed.

**Total Score: 4/4**